.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    --translate: 0;
    cursor: pointer;
    margin: 10px;
}

.card:hover {
    --translate: 0.7;
}

a.card {
    text-decoration: none;
}

.card > h1,
.card > h2,
.card > h3,
.card > h4 {
    font-weight: 400;
    margin: 0;
}

.card > figure {
    --background: hsl(150 50% calc(90% - (var(--translate) * 10%)));
    --circle-color: hsl(120 50% 50%);
    aspect-ratio: 8 / 5;
    background: radial-gradient(circle at top left, var(--circle-color), transparent 75%), var(--background);
    border-radius: 1.5rem;
    margin: 0;
    overflow: hidden;
    position: relative;
    transition: background 0.2s;
    width: 270px;
}

.card > figure:after {
    aspect-ratio: 1;
    background: linear-gradient(-65deg, var(--background) 50%, var(--circle-color) 50%);
    border-radius: 50%;
    bottom: 0;
    content: '';
    filter: blur(25px);
    left: 10%;
    position: absolute;
    transform: translateX(calc(var(--translate) * 15%)) scale(calc(1 + (var(--translate) * 0.2)));
    transition: transform 0.2s, background 0.2s;
    width: 20%;
}

.card > figure > img {
    bottom: 15%;
    max-height: 60px;
    position: absolute;
    right: 3%;
    transform: translateX(calc(var(--translate) * -15%)) scale(calc(1 + (var(--translate) * 0.2)));
    transition: transform 0.2s;
    width: 80%;
}